<div class="background-primary">
  <div fxLayout="row" fxLayoutAlign="space-evenly center" >
    <div flex="100">
      <mat-icon class="mt-5">laptop_mac</mat-icon>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" >
    <h1>INFORMATION SYSTEMS DEVELOPMENT</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-evenly center" class="pb-50">
    <a target="_blank" href="https://api.whatsapp.com/send/?phone=1573192224488&text=Hola%2C+quiero+cotizar+un+nuevo+proyecto&type=phone_number&app_absent=0">
      <button mat-raised-button >Quiero cotizar</button>
    </a>
  </div>

</div>
