<div fxLayout="row" fxLayoutAlign="space-around center">
  <h1>Nuestros Clientes</h1>
</div>

<div fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="60px" class="mt-10 ml-5 mr-5">
  <div fxFlex="15">
    <img mat-card-image src="assets/logo-clientes/copabogo.png" alt="angular" class="logos">
  </div>

  <div fxFlex="15">
    <img mat-card-image src="assets/logo-clientes/ligacilis.png" alt="angular" class="logos">
  </div>

  <div fxFlex="15">
    <img mat-card-image src="assets/logo-clientes/mentes.png" alt="angular" class="logos">
  </div>

  <div fxFlex="15">
    <img mat-card-image src="assets/logo-clientes/profesionales.png" alt="angular" class="logos">
  </div>

</div>
