<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="20px" class="mt-30 mb-5p">
  <div fxFlex="50">
    <mat-card class="example-card" class="ml-5 mr-5">
      <img mat-card-image src="assets/Movil.png" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div fxFlex="50">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h1>Desarrollo Móvil</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="ml-5 mr-5">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quia tempore quam! Consequatur quaerat soluta nesciunt aliquam excepturi recusandae hic, nemo sapiente deleniti, incidunt distinctio sunt accusamus? Natus, omnis neque?</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-raised-button color="primary">Primary</button>
    </div>
  </div>
</div>
