<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="20px" class="mt-30 mb-5p">
  <div fxFlex="50">
    <mat-card class="example-card" class="ml-5 mr-5">
      <img mat-card-image src="assets/Movil.png" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div fxFlex="50" fxFlexOrder.xs="-1">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h1>Desarrollo Móvil</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center" class="ml-5 mr-5">
      <p>Desarrollamos tu aplicación móvil totalmente enfocada en tus ideas o proyectos, garantizando que la aplicación móvil pueda ser usada en Android o IOS.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <a target="_blank" href="https://api.whatsapp.com/send/?phone=1573192224488&text=Hola%2C+quiero+cotizar+un+nuevo+proyecto&type=phone_number&app_absent=0">
        <button mat-raised-button color="primary">Quiero saber más.</button>
      </a>
    </div>
  </div>
</div>
