<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="20px" class="mt-30 mb-5p">
  <div fxFlex="50">
    <mat-card class="example-card" class="ml-5 mr-5">
      <img mat-card-image src="assets/Movil.png" alt="Photo of a Shiba Inu">
    </mat-card>
  </div>
  <div fxFlex="50" fxFlexOrder.xs="-1" class="ml-5">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <h1>Desarrollo Móvil</h1>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <p>Desarrollamos aplicaciones móviles enfocadas en tus ideas. </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <p>Desarrollo 100% personalizado. </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <p>Aplicaciones multiplataformas, Android -  IOS.</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <p>Desarrollo 100% personalizado.</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <p>Aplicación de mejores prácticas de código limpio y seguridad.</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="">
      <h2>Usamos las últimas tecnologías del mercado:  </h2>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="mt-10">
      <div fxFlex="15">
        <img mat-card-image src="assets/flutter.svg" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/android.png" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/ios.svg" alt="angular" class="logos">
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <a target="_blank" href="https://api.whatsapp.com/send/?phone=573192224488&text=Hola%2C+quiero+cotizar+un+nuevo+proyecto&type=phone_number&app_absent=0">
        <button mat-raised-button color="primary">Quiero saber más.</button>
      </a>
    </div>
  </div>
</div>
