
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayout.xs="column" fxLayoutGap="20px" class="mt-30 mb-5p">
  <div fxFlex="50" class="ml-5">
    <div fxLayout="row" fxLayoutAlign="start center">
      <h1>Desarrollo Apps Web</h1>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="">
      <p>Le damos vida a tus ideas y ayudamos a mejorar los procesos internos de tu empresa.</p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="">
      <p>Desarrollamos tu aplicación web de 0 a 100, totalmente enfocada en tus necesidades y objetivos. </p>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" class="">
      <p>Nuestros desarrollos cumplen con las mejores prácticas de código limpio y seguridad. </p>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="">
      <h2>Usamos las últimas tecnologías del mercado:  </h2>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" class="mt-10">
      <div fxFlex="15">
        <img mat-card-image src="assets/angular-logo.svg" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/angular-material.png" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/react.png" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/node.png" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/html.svg" alt="angular" class="logos">
      </div>
      <div fxFlex="15">
        <img mat-card-image src="assets/css.png" alt="angular" class="logos">
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <a target="_blank" href="https://api.whatsapp.com/send/?phone=573192224488&text=Hola%2C+quiero+cotizar+un+nuevo+proyecto&type=phone_number&app_absent=0">
        <button mat-raised-button color="primary">Quiero saber más</button>
      </a>
    </div>
  </div>
  <div fxFlex="50">
    <mat-card class="example-card" class="">
      <img mat-card-image src="assets/web.png" alt="Photo of a Shiba Inu">
      <!-- <img mat-card-image src="assets/laptop2.jpg" alt="Photo of a Shiba Inu"> -->
    </mat-card>
  </div>
</div>
