<div class="footer">
  <div fxLayout="row" fxLayoutAlign="center stretch"  fxLayout.xs="column" class="ml-5 mr-5">
    <div fxFlex="25" class="ml-5 mr-5 mt-10 mb-5p">
      <h3>Información Legal</h3>
    </div>
    <div fxFlex="25" class="ml-5 mr-5 mt-10 mb-5p">
      <h3>Atención al cliente</h3>
    </div>
    <div fxFlex="25" class="ml-5 mr-5 mt-10 mb-5p">
      <h3>Novedades</h3>
    </div>
    <div fxFlex="33" class="ml-5 mr-5 mt-10 mb-5p">
      <h3>Contáctanos</h3>
      <mat-list>
        <mat-list-item>
          <a target="_blank" href="https://api.whatsapp.com/send/?phone=573192224488&text=Hola%2C+quiero+cotizar+un+nuevo+proyecto&type=phone_number&app_absent=0">
            <button mat-fab class="colorWasa">
              <fa-icon [icon]="faCoffee" size="2x" ></fa-icon>
            </button>
          </a>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
<i class="fa-brands fa-whatsapp"></i>
